body {
    background: url(paper.jpg);
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}


.bg-black {
  background-color: #000
}

.bg-gray {
  background-color: rgb(37, 184, 17)
}


.navbar-brand {
  padding: 11px 20px
}

.active {
  background-color: blue
}

.navbar-nav {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-link {
  color: #fff !important;
  padding: 6px 12px;
  text-align: center;
}

.nav-link:hover {
  background-color: blue
}

.right {
  margin-left: auto
}

.navbar-collapse.collapse.in {
  display: block !important
}


a:link {
  color: rgb(28, 19, 160);
  background-color: transparent;
  text-decoration: none;
}

h2 {
    text-align: center;
}

#first-section {
 text-align: center;
 background-color: gray;
 margin:80px;
}

.sections-contact-2 {
    padding-bottom: 5px;
    margin-bottom: 5px;


}

a:visited {
  color: rgb(52, 153, 8);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(253, 7, 7);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(226, 28, 193);
  background-color: transparent;
  text-decoration: underline;
}

header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(24, 1, 1);
}

article {
    float: center

}

.copyright {
    text-align: center;
    color: rgb(216, 13, 131) !important;
    font-size: large;
    padding-top: 20px
  }

@media (max-width: 768px) {
  .header-section > div {
      width: 100%;
      text-align: center;
  }
}


#rightart {
  font-size: 20px;
}